In [ ]:
pwd

'C:\\Users\\Dell\\Desktop'

In [ ]:
cd C:\Users\Dell\Downloads

C:\Users\Dell\Downloads

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('train-data.csv')

In [ ]:
data.head

<bound method NDFrame.head of       Unnamed: 0                              Name    Location  Year  \
0              0            Maruti Wagon R LXI CNG      Mumbai  2010
1              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
2              2                      Honda Jazz V     Chennai  2011
3              3                 Maruti Ertiga VDI     Chennai  2012
4              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
...          ...                               ...         ...   ...
6014        6014                  Maruti Swift VDI       Delhi  2014
6015        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
6016        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
6017        6017                Maruti Wagon R VXI     Kolkata  2013
6018        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage  \
0                 72000       CNG       Manual      First  26.6 km/kg
1                 41000    Diesel       Manual      First  19.67 kmpl
2                 46000    Petrol       Manual      First   18.2 kmpl
3                 87000    Diesel       Manual      First  20.77 kmpl
4                 40670    Diesel    Automatic     Second   15.2 kmpl
...                 ...       ...          ...        ...         ...
6014              27365    Diesel       Manual      First   28.4 kmpl
6015             100000    Diesel       Manual      First   24.4 kmpl
6016              55000    Diesel       Manual     Second   14.0 kmpl
6017              46000    Petrol       Manual      First   18.9 kmpl
6018              47000    Diesel       Manual      First  25.44 kmpl

       Engine      Power  Seats  New_Price  Price
0      998 CC  58.16 bhp    5.0        NaN   1.75
1     1582 CC  126.2 bhp    5.0        NaN  12.50
2     1199 CC   88.7 bhp    5.0  8.61 Lakh   4.50
3     1248 CC  88.76 bhp    7.0        NaN   6.00
4     1968 CC  140.8 bhp    5.0        NaN  17.74
...       ...        ...    ...        ...    ...
6014  1248 CC     74 bhp    5.0  7.88 Lakh   4.75
6015  1120 CC     71 bhp    5.0        NaN   4.00
6016  2498 CC    112 bhp    8.0        NaN   2.90
6017   998 CC   67.1 bhp    5.0        NaN   2.65
6018   936 CC   57.6 bhp    5.0        NaN   2.50

[6019 rows x 14 columns]>

In [ ]:
data.columns

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price'],
      dtype='object')

In [ ]:
mdata=data

In [ ]:
company=data['Name'].str.split().str.get(0)

In [ ]:
company.unique()

array(['Maruti', 'Hyundai', 'Honda', 'Audi', 'Nissan', 'Toyota',
       'Volkswagen', 'Tata', 'Land', 'Mitsubishi', 'Renault',
       'Mercedes-Benz', 'BMW', 'Mahindra', 'Ford', 'Porsche', 'Datsun',
       'Jaguar', 'Volvo', 'Chevrolet', 'Skoda', 'Mini', 'Fiat', 'Jeep',
       'Smart', 'Ambassador', 'Isuzu', 'ISUZU', 'Force', 'Bentley',
       'Lamborghini'], dtype=object)

In [ ]:
df=pd.DataFrame(list(zip(data['Name'],company,data['Year'],data['Price'],data['Kilometers_Driven'],data['Fuel_Type'])),columns=['name','company','year','price','kms_driven','fuel_type'])

In [ ]:
df

,name,company,year,price,kms_driven,fuel_type
0,Maruti Wagon R LXI CNG,Maruti,2010,1.75,72000,CNG
1,Hyundai Creta 1.6 CRDi SX Option,Hyundai,2015,12.50,41000,Diesel
2,Honda Jazz V,Honda,2011,4.50,46000,Petrol
3,Maruti Ertiga VDI,Maruti,2012,6.00,87000,Diesel
4,Audi A4 New 2.0 TDI Multitronic,Audi,2013,17.74,40670,Diesel
...,...,...,...,...,...,...
6014,Maruti Swift VDI,Maruti,2014,4.75,27365,Diesel
6015,Hyundai Xcent 1.1 CRDi S,Hyundai,2015,4.00,100000,Diesel
6016,Mahindra Xylo D4 BSIV,Mahindra,2012,2.90,55000,Diesel
6017,Maruti Wagon R VXI,Maruti,2013,2.65,46000,Petrol
6018,Chevrolet Beat Diesel,Chevrolet,2011,2.50,47000,Diesel

In [ ]:
type(df['year'][0])

numpy.int64

In [ ]:
df['price']=df['price']*100000

In [ ]:
df['price']

0        175000.0
1       1250000.0
2        450000.0
3        600000.0
4       1774000.0
          ...
6014     475000.0
6015     400000.0
6016     290000.0
6017     265000.0
6018     250000.0
Name: price, Length: 6019, dtype: float64

In [ ]:
cd C:\Users\Dell\Desktop

C:\Users\Dell\Desktop

In [ ]:
df.to_csv('cars.csv')

In [ ]:
df1=pd.read_csv('cars.csv')

In [ ]:
df1=df1{'name','company','year','price'}

In [ ]:
df1=pd.read_csv('cars.csv')

In [ ]:
df1.to_csv('cars_modified.csv')

In [ ]:
df1.describe()

              year         price    kms_driven
count  6019.000000  6.019000e+03  6.019000e+03
mean   2013.358199  9.479468e+05  5.873838e+04
std       3.269742  1.118792e+06  9.126884e+04
min    1998.000000  4.400000e+04  1.710000e+02
25%    2011.000000  3.500000e+05  3.400000e+04
50%    2014.000000  5.640000e+05  5.300000e+04
75%    2016.000000  9.950000e+05  7.300000e+04
max    2019.000000  1.600000e+07  6.500000e+06

In [ ]:
df1[df1['price']<1e5].reset_index(drop=True)

,name,company,year,price,kms_driven,fuel_type
0,Hyundai Santro Xing XL eRLX Euro III,Hyundai,2005,85000.0,102000,Petrol
1,Tata Indica V2 DLS BSII,Tata,2007,85000.0,200000,Diesel
2,Hyundai Santro Xing XO eRLX Euro II,Hyundai,2007,95000.0,72000,Petrol
3,Maruti Zen VXI BSII,Maruti,2002,55000.0,60000,Petrol
4,Chevrolet Spark 1.0 LS,Chevrolet,2011,95000.0,21000,Petrol
...,...,...,...,...,...,...
72,Hyundai Accent GLE,Hyundai,2005,70000.0,50000,Petrol
73,Maruti 800 DX BSII,Maruti,2000,55000.0,78000,Petrol
74,Maruti Wagon R LX BSIII,Maruti,2006,75000.0,65771,Petrol
75,Hyundai Getz GLS,Hyundai,2005,85000.0,100000,Petrol
76,Tata New Safari DICOR 2.2 VX 4x2,Tata,2008,60000.0,86000,Diesel

In [ ]:
df1

,name,company,year,price,kms_driven,fuel_type
0,Maruti Wagon R LXI CNG,Maruti,2010,175000.0,72000,CNG
1,Hyundai Creta 1.6 CRDi SX Option,Hyundai,2015,1250000.0,41000,Diesel
2,Honda Jazz V,Honda,2011,450000.0,46000,Petrol
3,Maruti Ertiga VDI,Maruti,2012,600000.0,87000,Diesel
4,Audi A4 New 2.0 TDI Multitronic,Audi,2013,1774000.0,40670,Diesel
...,...,...,...,...,...,...
6011,Maruti Swift VDI,Maruti,2014,475000.0,27365,Diesel
6012,Hyundai Xcent 1.1 CRDi S,Hyundai,2015,400000.0,100000,Diesel
6013,Mahindra Xylo D4 BSIV,Mahindra,2012,290000.0,55000,Diesel
6014,Maruti Wagon R VXI,Maruti,2013,265000.0,46000,Petrol
6015,Chevrolet Beat Diesel,Chevrolet,2011,250000.0,47000,Diesel

In [ ]:
X=df1.drop(columns=['price'])
y=df1['price']

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [ ]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [ ]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [ ]:
column_trans

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder',
                                 OneHotEncoder(categories=[array(['Ambassador Classic Nova Diesel', 'Audi A3 35 TDI Attraction',
       'Audi A3 35 TDI Premium', ..., 'Volvo XC60 D5 Inscription',
       'Volvo XC90 2007-2015 D5 AT AWD', 'Volvo XC90 2007-2015 D5 AWD'],
      dtype=object),
                                                           array(['Ambassador', 'Audi', 'BMW', 'Bentley', 'Chevrolet', 'Datsun',
       'Fiat', 'Force', 'Ford', 'Honda', 'Hyundai', 'ISUZU', 'Isuzu',
       'Jaguar', 'Jeep', 'Land', 'Mahindra', 'Maruti', 'Mercedes-Benz',
       'Mini', 'Mitsubishi', 'Nissan', 'Porsche', 'Renault', 'Skoda',
       'Smart', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'], dtype=object),
                                                           array(['CNG', 'Diesel', 'Electric', 'LPG', 'Petrol'], dtype=object)]),
                                 ['name', 'company', 'fuel_type'])])

In [ ]:
lr=LinearRegression()

In [ ]:
pipe=make_pipeline(column_trans,lr)

In [ ]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Ambassador Classic Nova Diesel', 'Audi A3 35 TDI Attraction',
       'Audi A3 35 TDI Premium', ..., 'Volvo XC60 D5 Inscription',
       'Volvo XC90 2007-2015 D5 AT AWD', 'Volvo XC90 2007-2015 D5 AWD'],
      dtype=object),
                                                                            array(['Ambassador', 'Audi', 'BMW', '...
       'Fiat', 'Force', 'Ford', 'Honda', 'Hyundai', 'ISUZU', 'Isuzu',
       'Jaguar', 'Jeep', 'Land', 'Mahindra', 'Maruti', 'Mercedes-Benz',
       'Mini', 'Mitsubishi', 'Nissan', 'Porsche', 'Renault', 'Skoda',
       'Smart', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'], dtype=object),
                                                                            array(['CNG', 'Diesel', 'Electric', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [ ]:
y_pred=pipe.predict(X_test)

In [ ]:
r2_score(y_test,y_pred)

0.7996019022496268

In [ ]:
df1[df1['company']=='Maruti']

,name,company,year,price,kms_driven,fuel_type
0,Maruti Wagon R LXI CNG,Maruti,2010,175000.0,72000,CNG
3,Maruti Ertiga VDI,Maruti,2012,600000.0,87000,Diesel
10,Maruti Ciaz Zeta,Maruti,2018,995000.0,25692,Petrol
12,Maruti Swift VDI BSIV,Maruti,2015,560000.0,64424,Diesel
17,Maruti Swift DDiS VDI,Maruti,2017,599000.0,25000,Diesel
...,...,...,...,...,...,...
6000,Maruti Celerio VXI,Maruti,2015,400000.0,67600,Petrol
6002,Maruti Vitara Brezza VDi,Maruti,2016,743000.0,37208,Diesel
6004,Maruti Swift Dzire Vdi BSIV,Maruti,2011,275000.0,68000,Diesel
6011,Maruti Swift VDI,Maruti,2014,475000.0,27365,Diesel
6014,Maruti Wagon R VXI,Maruti,2013,265000.0,46000,Petrol

In [ ]:
scores=[]
for i in range(10000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [ ]:
np.argmax(scores)

2311

In [ ]:
scores[np.argmax(scores)]

0.93553240180087

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.93553240180087

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [ ]:
cd C:\Users\Dell\Desktop\Flask\Page

C:\Users\Dell\Desktop\Flask\Page

In [ ]:
model=pickle.load(open('LinearRegressionModel.pkl','rb'))

In [ ]:
prediction=model.predict(pd.DataFrame(columns=['name', 'company', 'year', 'kms_driven', 'fuel_type'],
                              data=np.array(['Maruti Celerio VXI','Maruti',2019,100,'Petrol']).reshape(1,5)))

In [ ]:
prediction

array([749680.37054285])